<link rel="stylesheet" href="/bootstrap/css/signature/signature-custom.css">
<script language="javascript" src="/bootstrap/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script language="javascript" src="/bootstrap/js/finance/consentApp.js"></script>
<script language="javascript" src="/bootstrap/js/html2canvas1.0.0.js"></script>

<script language="javascript" src="/bootstrap/js/base64.js"></script>
<script language="javascript" src="/bootstrap/js/canvas2image.js"></script>
<input type="hidden" value="{{patientId}}" id="patientId" ng-model="PatientId" />
<input type="hidden" value="{{consenttype}}" id="consenttype" ng-model="ConsentType" />


<div class="container-fluid section">
    <div class="row">       
        <div class="container mb-5 boxboost" style="background-color:#fff; border:1px solid #b0b0b0" id="patientConsentForm">
            <div class="row">
                <div class="mt-3 mb-5 text-center col-sm-12">
                    <h3>{{title}}</h3>
                </div>
                <input type="hidden" name="pName", id="pName" value="{[{FullName}]}">

                <!--
                <div class="col-lg-10 col-sm-10 col-md-10 mx-auto mb-2" style="min-height: 10px">
                    <div ng-class="alertType" class="m-2" role="alert" ng-if="message !=='' && alertType != ''">
                        <i class="fa fa-exclamation-circle mr-1" style="font-size: 1.3em"></i>
                        <span>{[{message}]}</span>
                    </div>
                </div>
                -->

                <div class="col-10 ml-5 mb-4 cntpg1" id="patient_details">
                    <table class="table table-bordered table-striped border-light mb-5 col-9" style="border-color:#f5f5f5">
                        <tr>
                            <td>Patient Name</td>
                            <td>{[{FullName}]}</td>
                        </tr>
                        <tr>
                            <td>Requested by</td>
                            <td>{{user.firstname}} {{user.lastname}}</td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td>{[{currentDate | date:'MM/dd/yyyy HH:mm:ss'}]}</td>
                        </tr>
                        <tr>
                            <td>Tooth Number(s)</td>
                            <td>{[{2}]}</td>
                        </tr>
                    </table>
                    <p class="font-weight-bold mt-4 mb-1">{{title}}</p>

                    <div class="mt-2">
                        <p class="text-justify">
                            Este formulario y su conversación con el médico tienen como objetivo ayudarlo a tomar una decisión informada sobre su procedimiento. Como miembro del equipo de tratamiento, se le ha informado su diagnóstico, el procedimiento planificado, los riesgos, los beneficios y las alternativas asociadas con el procedimiento y todo costo relacionado. Para aumentar las posibilidades de lograr resultados óptimos, usted ha suministrado una historia clínica completa y precisa, en la que se incluyen todas las afecciones dentales y médicas pasadas y presentes, medicamentos recetados y sin receta, toda alergia, uso de drogas recreativas y embarazo (si aplica). El médico estará dispuesto a responder cualquier pregunta que pueda tener y le dará información adicional antes de decidir si firma este documento y continúa con el procedimiento.
                        </p>
                        
                        <p class="mt-5">
                            <div class="form-label-group col-sm-12 mx-auto">
                                <input type="text" name="diagnosis" id="diagnosis" 
                                    class="form-control" placeholder="Diagnosis" autofocus ng-maxlength="2000">
                                <label for="inputEmail">Diagnóstico</label>
                            </div>                            
                            <div class="form-label-group col-sm-12 mx-auto">
                                <input type="text" name="procedure" id="procedure" 
                                    class="form-control" placeholder="Procedure" autofocus ng-maxlength="2000">
                                <label for="inputEmail">Procedimiento</label>
                            </div>                            
                            <div class="form-label-group col-sm-12 mx-auto">
                                <input type="text" name="altoption" id="altoption"
                                    class="form-control" placeholder="Altoption" autofocus ng-maxlength="2000">
                                <label for="inputEmail">Cantidad de piezas dentales</label>
                            </div>                            
                            <div class="form-label-group col-sm-12 mx-auto">
                                <input type="text" name="opciones" id="opciones"
                                    class="form-control" placeholder="Opciones" autofocus ng-maxlength="2000">
                                <label for="inputEmail">Opciones alternativas</label>
                            </div>                            
                        </p>

                        <ol class="mt-5">
                            <li>Me han informado y comprendo los riesgos potenciales relacionados con este procedimiento, que incluyen, pero no
                                se limitan a los siguientes:
                                <ul style="list-style-type: disc;">
                                    <li class="mt-2">Duraci&oacute;n y grado variado de sensibilidad, sangrado, infecci&oacute;n,
                                        irritaci&oacute;n de
                                        las enc&iacute;as, riesgo de fractura dental, traumatismo que cause necesidad de realizar tratamiento de
                                        conducto en el futuro, agrietamiento o estiramiento de las comisuras de los labios, tensi&oacute;n en la
                                        mand&iacute;bula (trastorno temporomandibular), cambios en la mordida, posible
                                        rotura/desplazamiento/falta de
                                        uni&oacute;n del material, cambio en el aspecto est&eacute;tico de los dientes, reacciones
                                        al&eacute;rgicas o
                                        adversas a los medicamentos o materiales.</li>
                                    <li class="mt-2"><strong>(Enumerar los riesgos espec&iacute;ficos del procedimiento)</strong></li>
                                </ul>
                            </li>
                            <li class="mt-2">He elegido proceder con las anestesias indicadas a continuaci&oacute;n.&nbsp;<br />
                                <div class="mt-2 mx-3">
                                    <p>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="chkNinguna">
                                            <label class="custom-control-label" for="chkNinguna">Ninguna</label>
                                        </div>
                                    </p>
                                    <p>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="chkAnestesia">
                                            <label class="custom-control-label" for="chkAnestesia">Anestesia local</label>
                                        </div>
                                    </p>
                                    <p>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="chkxidonitroso">
                                            <label class="custom-control-label" for="chkxidonitroso">&Oacute;xido nitroso (gas
                                                hilarante)</label>
                                        </div>
                                    </p>
                                    <p>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="chkParauna">
                                            <label class="custom-control-label" for="chkParauna">
                                                Para una sedaci&oacute;n/anestesia general leve (ansi&oacute;lisis/&ldquo;reducci&oacute;n de
                                                ansiedad&rdquo;), moderada (semi-consciente/crepuscular) o profunda, firme el Consentimiento
                                                informado anticipado para anestesia que se adjunta
                                            </label>
                                        </div>
                                    </p>
                                </div>
                                <ul>
                                    <li style="list-style-type: disc;">
                                        <p>Me han informado y comprendo los riesgos potenciales asociados con la anestesia, que incluyen, pero
                                            no se limitan a los siguientes:</p>
                                        <ul style="list-style-type: square;">
                                            <li>Reacciones al&eacute;rgicas o adversas a medicamentos o materiales; dolor en el sitio de
                                                inyecci&oacute;n de la anestesia; hematomas/hinchaz&oacute;n; lesiones nerviosas;
                                                n&aacute;useas; v&oacute;mitos; desorientaci&oacute;n; confusi&oacute;n; falta de
                                                coordinaci&oacute;n; somnolencia; complicaciones card&iacute;acas y respiratorias;
                                                entumecimiento tras la anestesia que, en casos muy poco frecuentes, puede ser permanente;
                                                sobredosis.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="mt-2">Se me ha informado y comprendo que es posible que puedan ser necesarias visitas de seguimiento o
                                cuidado, evaluaci&oacute;n o tratamiento adicionales.</li>
                            <li class="mt-2">Responsabilidades del paciente
                                <ul style="list-style-type: disc;">
                                    <li>
                                        <p class="mt-2">Comprendo que el uso de tabaco y alcohol es perjudicial para el &eacute;xito de mi
                                            tratamiento.</p>
                                    </li>
                                    <li>
                                        <p>Acepto seguir todas las instrucciones que me indican en este consultorio antes y despu&eacute;s del
                                            procedimiento, tomar los medicamentos seg&uacute;n la receta, practicar una higiene oral correcta,
                                            cumplir con todas las citas, hacer citas para consulta si surgen complicaciones y completar los
                                            cuidados necesarios. Informar&eacute; a mi m&eacute;dico todo problema postquir&uacute;rgico en el
                                            momento en que surja. Mi incumplimiento puede causar complicaciones o resultados inferiores a los
                                            &oacute;ptimos.</p>
                                    </li>
                                    <li>
                                        <p>Comprendo y acepto que el m&eacute;dico no puede garantizar los resultados del procedimiento. He
                                            tenido tiempo suficiente para leer este documento, comprendo las declaraciones precedentes y he
                                            tenido la oportunidad de que se respondan todas mis preguntas. Al firmar este documento, reconozco y
                                            acepto los riesgos y las complicaciones posibles del procedimiento y acepto proceder con &eacute;l.
                                        </p>
                                    </li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col-11 ml-5 mt-5 mb-5" id="patient_details">
                    <div class="col-sm-12">
                        <div class="col-sm-12" style="border-bottom: 1px solid #222;">
                            <div class="wrapper mb-1">
                                <canvas id="signature-pad" class="signature-pad"></canvas>
                            </div>
                        </div>
                        <label for="exampleFormControlTextarea1">Firma del padre o tutor</label>
                    </div>
                </div>
                <div class="col-10 ml-5 mb-4 cntpg1" id="patient_details">
                    <p class="text-justify" style="padding-left: 15px;">
                        Certifico que he explicado al paciente o al tutor del paciente el carácter, el objetivo, los beneficios, los riesgos conocidos, las complicaciones y las alternativas del procedimiento propuesto. Tanto el paciente como el tutor del paciente han expresado que comprenden la información proporcionada. He respondido todas las preguntas con mi mejor conocimiento y entender, y considero que el paciente o su tutor comprenden completamente lo que he explicado.
                    </p>
                </div>
                <div class="col-11 ml-5 mt-5 mb-5" id="patient_details">
                    <div class="col-sm-12">
                        <div class="col-sm-12 docname">
                            Firma del médico: {{doctorname}}
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="container mb-5 boxboost" style="background-color:#fff; border:1px solid #d0d0d0; display: none;" id="patientConsentFormStatic">
            <div class="mt-3 mb-5 text-center col-sm-12">
                <h3>Extraction Consent</h3>
            </div>
            <div class="my-5">
                <div class="row h-100 py-3 align-items-center justify-content-center" ng-class="alertType" ng-if="message !=='' && alertType == ''">
                    <div class="col-sm-6">
                        <div class="alert-box  mx-auto">
                            <div class="alert alert-info alert-bg">
                                <div class="alert-icon text-center">
                                    <i class="fa fa-check-circle-o  fa-3x" aria-hidden="true"></i>
                                </div>

                                <div class="alert-message text-center">
                                    <!--<strong>Success!</strong>-->Hi {[{FullName}]}, {[{message}]} 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        
                <img src='' id='canvasimage' class="staticImage"/>
            </div>
        </div>
        
        <div class="container mx-auto mb-2">
            <div ng-class="alertType" id="alertWindow" class="alert alert-danger" ng-if="message !=='' && alertType != ''">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <i class="fa fa-times"></i> <strong>{[{messageStatus}]}! </strong> {[{message}]} <a href="#" class="alert-link"></a> !!
            </div>    
        </div>

        <div class="modal-footer container">
            <span id="updateStatus"></span>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnClose">Close</button>
            <button type="button" class="btn btn-primary" id="clear">Clear</button>
            <button id="btnDownload" class="btn btn-primary" ng-click="saveAsImage()">Submit</button>
        </div>
    </div>
</div>


<script language="javascript" src="/bootstrap/js/signature/signature_pad.umd.js"></script>
<script language="javascript" src="/bootstrap/js/signature/app.js"></script>
<script language="javascript" src="/bootstrap/js/signature/savecanvas.js"></script>
